<!--The content below is only a placeholder and can be replaced.-->
<div class="container">
    <div class="card">
        <div class="card-body">
            <h5 class="card-title">Sistema Experto</h5>
            <!-- <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6> -->
            <form>
                <div class="row">
                    <div class="col-md-8">
                        <input #rawInput type="text" class="form-control"  name="raw_expression" [(ngModel)]="rawExpression" />
                    </div>
                    <div class="col-md-4">
                        <button type="button" name="button" class="btn btn-primary" (click)="parseInput()">Agregar regla</button>
                    </div>
                </div>
                <div class="info">
                    <div class="row">
                        <div class="col-md-6">
                            <p>Átomos</p>
                            <select class="form-control" name="atoms" multiple>
                                <option [value]="a" *ngFor="let a of atoms; let i = index;" (dblclick)="append(a)">{{ a }}</option>
                            </select>
                        </div>
                        <div class="col-md-6">
                            <p>Reglas</p>
                            <select class="form-control" name="rules" multiple>
                                <option [value]="r.id" *ngFor="let r of rules; let i = index;" (dblclick)="showRule(r)">R{{ i + 1 }}</option>
                            </select>
                        </div>
                    </div>
                </div>
            </form>
            <!-- <a href="#" class="card-link">Card link</a> -->
            <!-- <a href="#" class="card-link">Another link</a> -->
        </div>
    </div>
</div>
<!-- <router-outlet> -->

<!-- </router-outlet> -->
